{% extends '_layout.html.twig' %}

{% set pageTemplate = 'home' %}
{% set titleTag = 'home.titleTag'|trans %}
{% set metaDescription = 'home.metaDescription'|trans %}

{% block body %}
    <div class="form-container">
        
    </div>
{% endblock %}