@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    src: 
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-display: swap;
}
